.button {
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
  user-select: none;
  white-space: nowrap;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  vertical-align: middle;
  &.medium {
    margin-inline: auto;
    width: 80px !important;
  }
  //   &:focus,
  //   &:hover,
  //   &:active,
  //   &:visited {
  //     background-color: #fcde1d !important;
  //   }
}
// e74d46
