.button {
  text-transform: uppercase;
  text-align: center;
  padding: 6px 0;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  user-select: none;
  white-space: nowrap;
  color: var(--tg-theme-button-text-color);
  font-size: 14px;
  vertical-align: middle;
  &.medium {
    line-height: 20px;
    margin-inline: auto;
    width: 70%;
  }
  &.small {
    line-height: 12px;
    width: 30px;
  }
  //   &:focus,
  //   &:hover,
  //   &:active,
  //   &:visited {
  //     background-color: #fcde1d !important;
  //   }
}
