.categories {
  padding: 8px;
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  background-color: var(--tg-theme-bg-color);
  z-index: 10;
  .category {
    color: var(--tg-theme-text-color);
    text-align: center;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    &.active {
      background-color: var(--tg-theme-bg-color);
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }
}
