.wrapper {
  // background-color: var(--tg-theme-secondary-bg-color);
  background-color: red;
  margin-bottom: 64px;
  height: 100vh;
  padding: 8px 0;
  .inner {
    background-color: #fff;
    border-radius: 4px;
    margin: 0 8px 8px;

    .title {
      font-size: 14px;
      line-height: 18px;
      padding: 8px 12px;
      border-bottom: 1px solid #ddd;
      font-size: 16px;
      font-weight: 600;
    }
    .form {
      // background-color: var(--tg-theme-bg-color);
      background-color: #fff;
      border-radius: 4px;
      padding: 8px;
    }
  }
}

.countdown {
  font-size: 12px;
  line-height: 16px;
  color: var(--tg-theme-hint-color);
  padding: 8px 4px;
}
.branches {
  .chooseBranch {
    text-align: center;
    font-weight: 500;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
  }
  .branch {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    &.active {
      svg {
        fill: red;
      }
    }
  }
}
.tabsWrapper {
  margin: 0 8px 0;
  .tabPanels {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #fff;

    .map {
      padding: 8px;
      .selectAddress {
        text-align: center;
        font-weight: 500;
        padding-bottom: 8px;
      }
      .place {
        padding: 8px;
        margin-top: 8px;
        background-color: #eee;
        border-radius: 6px;
        font-size: 14px;
      }
    }
  }
  .tabs {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #fff;
    padding: 4px;
    .tabs_inner {
      background: #eee;
      display: flex;
      border-bottom: 1px solid #e3e3e3;
      gap: 4px;
      padding: 4px;
      border-radius: 6px;
    }
    .tab {
      padding: 8px 0;
      width: 50%;
      position: relative;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      &.active {
        background-color: #fff;
      }
    }
  }
}
