.wrapper {
  height: 100vh;
  padding: 32px;
  background-color: #ddd;
  .title {
    font-size: 14px;
    line-height: 18px;
    color: var(--tg-theme-hint-color);
    text-transform: uppercase;
    padding: 8px 12px;
  }
  .form {
    background-color: var(--tg-theme-secondary-bg-color);
    background-color: #eee;
    border-radius: 11px;
    padding: 8px;
  }
}

.countdown {
  font-size: 12px;
  line-height: 16px;
  color: var(--tg-theme-hint-color);
  padding: 4px;
}
