.button {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  border: 1px solid #eee;
  &.sm {
    padding: 6px 8px;
  }
  &.md {
    padding: 10px 12px;
  }
}
