.products {
  position: relative;
  .bigTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 8px 4px 20px;
    color: var(--tg-theme-text-color);
  }
  .preview {
    position: fixed;
    bottom: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    height: 100vh;
    width: 100%;
    background-color: rgba($color: #000, $alpha: 0.3);

    .inner {
      padding-top: 24px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
      position: absolute;
      bottom: 0;
      background-color: var(--tg-theme-bg-color);
      width: 100%;
      .image {
        height: 200px;
        width: 100%;
      }
      .close {
        position: absolute;
        top: 30px;
        right: 10px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 4px;
      }
      &::before {
        content: "";
        background: #aaa;
        height: 4px;
        width: 80px;
        border-radius: 2px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
      }
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      .body {
        padding: 12px;
        .head {
          margin-bottom: 12px;
          .title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 8px;
            color: var(--tg-theme-text-color);
          }
          .price {
            color: var(--main-color);
            margin-bottom: 8px;
            font-weight: 500;
            font-size: 14px;
          }
          .description {
            color: var(--tg-theme-hint-color);
            font-size: 14px;
          }
        }
      }
      .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .action {
          gap: 12px;
          padding: 4px;
          width: fit-content;
          display: flex;
          align-items: center;
          .price {
            color: var(--tg-theme-text-color);
          }
        }
      }
    }
  }
  .inner {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    .product {
      border: 2px solid var(--tg-theme-hint-color);
      margin: 4px;
      border-radius: 8px;
      border-bottom-right-radius: 32px;
      width: calc(50% - 14px);
      overflow: hidden;
      .image {
        height: 120px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .body {
        border-top: none;
        overflow: hidden;
        padding-left: 8px;
        .title {
          margin-top: 8px;
          color: var(--tg-theme-text-color);
        }
        .footer {
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .price {
            color: var(--main-color);
            font-size: 14px;
          }
          .action {
            display: flex;
            align-items: center;
            gap: 4px;
            background-color: #f8f8f8;
            border-top-left-radius: 32px;
            padding: 4px 8px;
            .count {
              color: var(--main-color);
            }
          }
        }
      }
    }
  }
}
