.wrapper {
  .head {
    padding: 8px 4px;
    .label {
      color: var(--tg-theme-text-color);
      font-size: 14px;
      width: 20%;
      margin-bottom: 8px;
    }
    .input {
      border: 1px solid #eee;
      padding: 16px 8px;
      width: 100%;
      font-family: "Open Sans", sans-serif;
      color: var(--tg-theme-text-color);
      font-size: 14px;
      background-color: #f8f8f8;
      border-radius: 4px;
      &::placeholder {
        color: var(--tg-theme-hint-color);
        color: gray;
      }
    }
  }

  .errorText {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #e74d46;
    padding: 4px 2px;
  }
}
