@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--tg-theme-bg-color);
  --main-color: #0076ce;
  --tg-theme-bg-color: #18222d;
  --tg-theme-secondary-bg-color: #131415;
  --tg-theme-text-color: #fff;
  --tg-theme-hint-color: #b1c3d5;
  --tg-theme-link-color: #62bcf9;
  --tg-theme-button-color: #2ea6ff;
  --tg-theme-button-text-color: #fff;
}

body.order-mode {
  background-color: var(--bg-color);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
